<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>
        <h2>文件上传</h2>
        <form action="/uploadfile" enctype="multipart/form-data" method="post">
             文件：<input name="file" type="file"><br><br>
            文件夹：<input name="dir" type="text"><br><br>
            <input type="submit">
        </form>
    </div>
<!--    <img src="http://localhost:8080/file/img/2022/03/24/65aece0b-d995-4528-9138-95ff371d2e5f.jpg">-->
    <div>
        <h2>文件上传</h2>
        <form action="/uploadfilemap" enctype="multipart/form-data" method="post">
            文件：<input name="file" type="file"><br><br>
            文件夹：<input name="dir" type="text"><br><br>
            <input type="submit">
        </form>
    </div>
</body>

</html>

<!--http://localhost:8080/file/img/2022/03/24/65aece0b-d995-4528-9138-95ff371d2e5f.jpg-->
<!--http://localhost:8080/file/img/2022/03/25/b3cf43c6-be8f-493a-8b47-2bd12a28ce1b.jpg-->